.App{
    height: 100%;
    width: 100%;
}
.Made{
    margin: 0 25% 20px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.App > h1{
    font-family: "VAG World Bold";
    margin: 0 25%;
}
.Search{
    margin: auto;
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    width: 50%;
    align-items: center;
}
.Srchtbl{
    width: 100%;
    height: 93%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-gap: 32px;
    grid-auto-flow: dense;
}

@media (max-width: 985px){
    .Search{
        width: 500px;
        margin: auto;
        margin-top: 20px;
    }
    .Made{
        display: none;
    }
    .CBH{
        display: none;
    }
}

@media (max-width: 600px) {
    .Srchtbl {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        align-items: center;
    }
    .App{
        min-width: auto;
        width: auto;
    }
    .Search{
        margin: auto;
        margin-top: 10px;
        width: 300px;
    }


}

.Srchbtn{
    float: right;
    font-size: 140%;
    margin: 0 28%;
}

.Years{
   width: 70px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}