.App{
    height: 100%;
    width: 100%;
}

.Main {
    margin:0 25%;
    background-color: #dcf0ff;
}
.Main > h1{
    text-align: center;
}

a:link, a:visited{
    color: black;
}

a:hover{
    text-decoration: none;
}
.Srch{

    margin: 10% 40%;
}
.Srch:active{
    background-color: #3350ac;
}

@media (max-width: 600px) {
    .App{
        min-width: auto;
    }
    .Main{
        margin: 0;
    }
    .Srch{
        margin: 0;
    }

}